$o-brand: 'internal';
$o-typography-is-silent: false;
@import 'o-typography/main';

$o-header-services-is-silent: false;
@import 'o-header-services/main';

$o-footer-services-is-silent: false;
@import 'o-footer-services/main';

@import 'sass-mq/mq';

@import 'src/scss/main';

@if $o-layout-is-silent == false {
	@include oLayout();

	$o-layout-is-silent: true !global;
}
