//TODO: change to subgrid when property is implemented in browsers

.o-layout__column {
	&--wide {
		margin: 0;
		grid-column: 1 / -1;

		@include oLayoutBreakPoint($from: XXL) {
			grid-column: 2 / -2;
		}
	}

	&--left {
		grid-column: 1 / span 1;

		@include oLayoutBreakPoint($from: M) {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}


		@include oLayoutBreakPoint($from: XXL) {
			grid-column-start: 2;
		}
	}

	&--center {
		overflow: hidden;

		@include oLayoutBreakPoint($until: ML) {
			.o-layout--table & {
				grid-column-end: span 2;
			}
		}

		@include oLayoutBreakPoint($from: M) {
			grid-column: 2 / span 1;
		}

		@include oLayoutBreakPoint($from: XXL) {
			grid-column-start: 3;
		}

		&-aside {
			@include oLayoutBreakPoint($from: L) {
				display: grid; //TODO: change to subgrid when property is implemented in browsers
				padding-right: $_o-layout-gutter;
				grid-column-end: span 3;
				grid-template-columns: $_o-layout-main-section-width auto;
				grid-column-gap: $_o-layout-gutter;
			}

			@include oLayoutBreakPoint($from: XXL) {
				grid-column-end: -2;
			}
		}
	}

	&--table {
		overflow-x: scroll;

		@include oLayoutBreakPoint($from: M) {
			grid-column: 2 / span 2;
		};

		@include oLayoutBreakPoint($from: XXL) {
			grid-column-start: 3;
		};
	}
}
