@mixin oLayoutColumnWide($class: 'o-layout') {
// 	.#{$class}__column--wide {
// 		@include oLayoutBreakPoint($from: XXL) {
// 			grid-column: 2 / -2;
// 		}
//
// 		margin: 0;
// 		grid-column: 1 / -1;
// 	}
}

@mixin oLayoutColumnLeft($class: 'o-layout') {
	.#{$class}__area--sidebar {
		grid-area: sidebar;
		@include oTypographySans(1);

		a {
			@include oTypographyLink();
			border: 0;
		}
	}
}

@mixin oLayoutColumnCenter($class: 'o-layout') {
	.#{$class}__area--main {
		@extend %o-layout-base--body;
		grid-area: main;

		@include oLayoutBreakPoint($from: ML) {
			display: grid;
			grid-column-gap: $_o-layout-gutter;
			grid-template-columns: $_o-layout-main-section-width 1fr;
		}

		* {
			grid-column: 1;
		}

		overflow: hidden;
	}
}

@mixin oLayoutColumnCenterWithAside($class: 'o-layout') {
	.#{$class}__column--center-aside {
		@include oLayoutBreakPoint($from: L) {
			display: grid; //TODO: change to subgrid when property is implemented in browsers
			grid-column-end: span 2;
			grid-template-columns: $_o-layout-main-section-width auto;
			grid-column-gap: $_o-layout-gutter;
		}
	}
}

@mixin oLayoutColumnRight($class: 'o-layout') {
	.#{$class}__column--right {
		grid-column: 2 / span 1;
	}
}

@mixin oLayoutColumnTable($class: 'o-layout') {
	.#{$class}__column--table {
		grid-column: 1 / span 2;
		overflow-x: scroll;
	}
}
