@mixin oLayoutBase ($class: 'o-layout') {
	.#{$class} {
		@extend %o-layout-base;
		@include _oLayoutNavigation($class);
		@include oLayoutBreakPoint($from: M) {
			grid-template-columns: minmax(10%, 25%) minmax(auto, $_o-layout-main-section-width);
		};

		@include oLayoutBreakPoint($from: ML, $until: XXL) {
			grid-template-columns: minmax(10%, 20%) minmax(auto, $_o-layout-main-section-width) repeat(2, 0.5fr);
		};

		@include oLayoutBreakPoint($from: XXL) {
			grid-template-columns: 1fr 1fr minmax(auto, $_o-layout-main-section-width) repeat(2, 1fr);
		};

		grid-column-gap: $_o-layout-gutter;
	}
}

@mixin oLayoutDocumentation ($class: 'o-layout') {
	.#{$class}--documentation {
		@extend %o-layout-base--body;

		.content--aside-wrapper {
			border-left: 2px solid oColorsGetPaletteColor('teal');
			padding-left: 1rem;
		}
	}
}

@mixin oLayoutSearch ($class: 'o-layout') {
	.#{$class}--search {
		@extend %o-layout-base;
		@extend %o-layout-base--body;

		@include oLayoutBreakPoint($until: S) {
			.#{$class}__column--left { display: none; }
		};

		@include oLayoutBreakPoint($until: ML) {
			.#{$class}__column--right { display: none; }
		};

		@include oLayoutBreakPoint($from: S) {
			grid-template-columns: minmax(220px, 25%) auto;

			.#{$class}__column--left { grid-column: 1; }
			.#{$class}__column--center { grid-column: 2; }
		};

		@include oLayoutBreakPoint($from: ML) {
			grid-template-columns: minmax(220px, 25%) auto minmax(10%, 25%);

			.#{$class}__column--right { grid-column: 3; }
		};

		@include oLayoutBreakPoint($from: XXL) {
			grid-template-columns: minmax(220px, 15%) auto minmax(10%, 25%);
		};
	}
}
