@mixin _oLayoutNavigation($class: 'o-layout') {
	.#{$class}__navigation {
		@include oLayoutBreakPoint($from: M) {
			@include oLayoutRule('right');
			position: sticky;
			top: $_o-layout-gutter;
			text-align: right;
			margin-top: $_o-layout-gutter;
		}

		@include oLayoutRule('left');
		text-align: left;
		list-style: none;
		margin: 0;

		li {
			padding: 0.3em 0;

			&:before {
				content: '';
				padding: 0;
			}
		}
	}
}
