<div class="o-layout" data-o-component="o-syntax-highlight">
{{> shared/header}}

	<div class="o-layout__sidebar"></div>

	<div class="o-layout__main">
		{{> content/quickstart-tutorial}}
	</div>

{{> shared/footer}}
</div>
