{{> shared/header}}

<div class="o-layout o-layout--documentation" data-o-component="o-syntax-highlight">
	<div class="o-layout__column--left">
		<ol class="o-layout__navigation">
			{{#children}}
				{{#current}}
					{{#navigation}}
						<li>
							<a href="{{href}}">{{name}}</a>
						</li>
					{{/navigation}}
				{{/current}}
			{{/children}}
		</ol>
	</div>

	{{> content/quickstart-tutorial}}

	<div class="o-layout__column--right">
		This is not part of the tutorial, but is a bit of text to demonstrate what a right side column would look like within this layout, where there are three main columns, but it may be that these columns span across more space or less space. Text text text.
	</div>
</div>

{{> shared/footer}}
