
<div class="o-layout o-layout--documentation" data-o-component="o-syntax-highlight">
	{{> header}}

	<div class="o-layout--left-column">
		<ol>
			{{#children}}
				{{#current}}
					{{#navigation}}
						<li>
							<a href="{{href}}">{{name}}</a>
						</li>
					{{/navigation}}
				{{/current}}
			{{/children}}
		</ol>
	</div>

	<main>
		{{> quickstart-tutorial}}
	</main>

	<footer></footer>
</div>
