{{> shared/header}}

<div class="o-layout o-layout--documentation o-layout--table" data-o-component="o-syntax-highlight">
	<div class="o-layout__column--left">
		<ol class="o-layout__navigation">
			{{#children}}
				{{#current}}
					{{#navigation}}
						<li>
							<a href="{{href}}">{{name}}</a>
						</li>
					{{/navigation}}
				{{/current}}
			{{/children}}
		</ol>
	</div>

	{{> content/3-party-table}}

</div>

{{> shared/footer}}
