<div class="o-layout o-layout--query" data-o-layout-construct-nav="true" data-o-component="o-layout">
    {{> shared/header}}

    <div class="o-layout__heading o-layout-typography">
		<h1 id="searchable-things">Searchable Things</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ipsa illum veniam doloremque ut laborum voluptates saepe dignissimos cupiditate eos.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sapiente.</p>
    </div>

    <div class="o-layout__query-sidebar o-layout-typography">

    </div>

	<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
		<h2 id="results">Results</h2>
		<ul>
			<li>
				<p>Result 1</p>
			</li>
			<li>
				<p>Result 2</p>
			</li>
			<li>
				<p>Result 3</p>
			</li>
			<li>
				<p>Result 4</p>
			</li>
			<li>
				<p>Result 5</p>
			</li>
			<li>
				<p>Result 6</p>
			</li>
		</ul>
	</div>

    <div class="o-layout__aside-sidebar o-layout-typography" data-o-component="o-syntax-highlight">
		<p>Aside Sidebar: Lorem ipsum, dolor sit amet consectetur adipisicing <code class='o-syntax-highlight--html'>o-layout</code> elit. Pariatur beatae, tempora deleniti inventore impedit minus corrupti omnis esse assumenda perspiciatis?</p>
    </div>

	{{> shared/footer}}
</div>
