@import 'variables';
@import 'layouts/documentation';
@import 'layouts/media-queries';

@include oLayoutDocumentation;

section {
	overflow: hidden;
	@include oLayoutBreakPoint($from: M){
		grid-column: 2 / span 1;
	};

	@include oLayoutBreakPoint($from: XXL) {
		grid-column-start: 3;
	};

		&.section-with-aside {
			@include oLayoutBreakPoint($from: L) {
				display: grid; //TODO: change to subgrid when property is implemented in browsers
				grid-column-end: span 2;
				grid-template-columns: $_o-layout-main-section-width auto;
				grid-column-gap: 20px;
			};

			@include oLayoutBreakPoint($from: XXL) {
				grid-column-end: -1;
			};
	};
}
