/// Layout Areas
/// Outputs grid grid template areas
@mixin oLayoutAreas() {
	@include oLayoutAreaHeader();
	@include oLayoutAreaSidebar();
	@include oLayoutAreaMain();
	@include oLayoutAreaFooter();
}

/// Header Area
/// Outputs grid header area
@mixin oLayoutAreaHeader() {
	.o-layout__header {
		grid-area: header;
	}
}

/// Sidebar Area
/// Outputs grid sidebar area
@mixin oLayoutAreaSidebar() {
	.o-layout__sidebar {
		@include oTypographySans(1);
		@include _oLayoutNavigation();
		@include oGridRespondTo($until: M) {
			padding: 0 1rem;
		}

		grid-area: sidebar;

		a {
			@include oTypographyLink;
			border: 0;
		}
	}
}

/// Main Area
/// Outputs grid main content area
@mixin oLayoutAreaMain() {
	.o-layout__main {
		@include _oLayoutBody;
		padding: 0 1rem;
		grid-area: main;

		//sass-lint:disable mixins-before-declarations - Source order matters for media queries. Although @at-root is used anyway, which will always output the media after.
		@include oGridRespondTo($from: M) {
			display: grid;
			grid-column-gap: $_o-layout-gutter;
			grid-template-columns: $_o-layout-main-section-width 1fr;
			padding: 0;
		}

		@include oGridRespondTo($from: L) {
			> aside {
				grid-column: 2;
				grid-row: span 3; //hack mchack, need to look into spanning across rows irrespective of siblings
			}
		};
		//sass-lint:enable mixins-before-declarations

		> * {
			grid-column: 1;
		}

		> :first-child {
			margin-top: $_o-layout-gutter;
		}

		> table {
			grid-column: 1 / span 2;
			overflow-x: scroll;
			padding-right: 1rem;
			box-sizing: border-box;
			width: 100%;
		}

		.o-layout__rule-left {
			@include oLayoutRule('left');
		}

		.o-layout__rule-right {
			@include oLayoutRule('right');
		}

		.o-layout__main__single-span {
			grid-column-end: 2;
		}

		.o-layout__main--full-span,
		.o-layout__main__full-span {
			grid-column-end: -1;
		}
	}
}

/// Footer Area
/// Outputs grid footer area
@mixin oLayoutAreaFooter() {
	.o-layout__footer {
		grid-area: footer;
	}
}

/// Navigation
/// Outputs navigation styles
/// @access Private
@mixin _oLayoutNavigation() {
	.o-layout__navigation {
		@include oGridRespondTo($from: M) {
			border-left: 0;
			position: sticky;
			top: $_o-layout-gutter;
			text-align: right;
			margin-top: $_o-layout-gutter;
		}

		border-left: 2px solid oColorsGetPaletteColor('teal');
		padding: 0;
		text-align: left;
		list-style: none;
		margin: 0;


		li {
			@include oGridRespondTo($from: M) {
				border-right: 2px solid oColorsGetPaletteColor('teal');
			}

			padding-right: 1em;
			border-right: 0;

			&.o-layout__navigation-title {
				@include oTypographyBold('sans');
				border-right: 0;
			}

			&:not(.o-layout__navigation-title) {
				[aria-current="location"] {
					color: oColorsGetPaletteColor('teal-30');
					background: oColorsMix('teal', 'white', 20);
				}
			}

			a {
				display: inline-block;
				padding: 0.4em 1em;
				margin-right: -1em;
			}
		}
	}
}
