/// Layout Base
/// Outputs responsive base grid
///
/// @param {String} $class — class name for grid
@mixin oLayoutBase ($class: $o-layout-class) {
	html,
	body {
		height: 100%;
		margin: 0;
	}

	.#{$class} {
		@include _oLayoutGridBase;
		@include oTypographySize(1);

		@include oLayoutBreakPoint($from: M) {
			grid-template-rows: auto 1fr auto;
			grid-template-columns: minmax(10%, 25%) $_o-layout-main-section-width;
			grid-template-areas:
				"header header"
				"sidebar main"
				"footer footer";
		};

		@include oLayoutBreakPoint($from: ML) {
			grid-template-columns: minmax(10%, 20%) $_o-layout-main-section-width 1fr;
			grid-template-areas:
				"header header header"
				"sidebar main main"
				"footer footer footer";
		};

		@include oLayoutBreakPoint($from: XXL) {
			grid-template-columns: repeat(2, 1fr) $_o-layout-main-section-width repeat(2, 1fr);
			grid-template-areas:
				"header header header header header"
				". sidebar main main ."
				"footer footer footer footer footer";
		};

		grid-column-gap: $_o-layout-gutter;
		min-height: 100%;
	}
}
