@mixin oLayoutDocumentation ($class: 'o-layout') {
	@include _oLayoutLeftColumn($class);
	.#{$class}--documentation {
		h1	{
			@include oTypographyProductHeadingLevel1();
			margin-top: 20px;
		}

		h2 {
			@include oTypographyProductHeadingLevel2();
		}

		h3 {
			@include oTypographyProductHeadingLevel3();
		}

		h6 {
			@include oTypographyProductHeadingLevel6();
		}
	}
}

@mixin _oLayoutLeftColumn($class: 'o-layout') {
	.#{$class}--left-column {
		grid-column: 1;

		@include oLayoutBreakPoint($until: M) {
			display: none;
		};

		@include oLayoutBreakPoint($from: XXL) {
			grid-column-start: 2;
		};

		position: sticky;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;

		ol {
			list-style: none;
			padding: 0;

			li {
				padding-top: 8px;

				a {
					@include oTypographyLink();
					border: none;
				}
			}
		}
	}
}
