@mixin oLayoutDocumentation ($class: 'o-layout') {
	.#{$class}--documentation {
		@include oTypographySans(1);
		@include _oLayoutNavigation($class);
		padding: 0 $_o-layout-gutter;
		margin-top: $_o-layout-gutter;
		box-sizing: border-box;
		grid-row-gap: $_o-layout-gutter;

		h1	{
			@include oTypographyProductHeadingLevel1();
		}

		h2 {
			@include oTypographyProductHeadingLevel2();
		}

		h3 {
			@include oTypographyProductHeadingLevel3();
		}

		h6 {
			@include oTypographyProductHeadingLevel6();
		}

		a {
			@include oTypographyLink();
			border: none;
		}
	}
}

@mixin _oLayoutNavigation($class: 'o-layout') {
	.#{$class}__navigation {
		@include oLayoutBreakPoint($from: M) {
			position: sticky;
			top: 0;
			height: 100%;
			display: flex;
			justify-content: center;
		};

		ol {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding-top: 8px;
			}
		}
	}
}
