$o-layout-breakpoints: (
	XS: 300px,
	S: 520px,
	M: 780px,
	ML: 960px,
	L: 1090px,
	XL: 1120px,
	XXL: 1350px
) !default;

@mixin oLayoutBreakPoint($from: false, $until: false) {
	@include mq(
		$from: $from,
		$until: $until,
		$breakpoints: $o-layout-breakpoints
	) {
		@content;
	}
}

%o-layout-base {
	min-width: 100%;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 100%;
	grid-column-gap: 20px;

	@include oLayoutBreakPoint($from: M, $until: L) {
		grid-template-columns: 1fr minmax(auto, $_o-layout-main-section-width);
	};

	@include oLayoutBreakPoint($from: ML, $until: XXL) {
		grid-template-columns: 1fr minmax(auto, $_o-layout-main-section-width) 1fr;
	};

	@include oLayoutBreakPoint($from: XXL) {
		grid-template-columns: 1fr 1fr minmax(auto, $_o-layout-main-section-width) 1fr 1fr;
	};
}

@mixin oLayoutBase ($class: 'o-layout') {
	.#{$class} {
		@extend %o-layout-base;
	}
}
