$o-layout-breakpoints: (
	XS: 300px,
	S: 520px,
	M: 780px,
	ML: 960px,
	L: 1090px,
	XL: 1120px,
	XXL: 1350px
) !default;

@mixin oLayoutBreakPoint($from: false, $until: false) {
	@include mq(
		$from: $from,
		$until: $until,
		$breakpoints: $o-layout-breakpoints
	) {
		@content;
	}
}


@mixin oLayoutBase ($class: 'o-layout') {
	.#{$class} {
		@include oTypographySans(1);
		display: grid;
		grid-auto-rows: auto;
		grid-gap: 20px;
		padding: 0 20px;

		@include oLayoutBreakPoint($from: M, $until: L) {
			grid-template-columns: 1fr $_o-layout-main-section-width;
		};

		@include oLayoutBreakPoint($from: ML, $until: XXL) {
			grid-template-columns: 1fr $_o-layout-main-section-width 1fr;
		};

		@include oLayoutBreakPoint($from: XXL) {
			grid-template-columns: 1fr 1fr $_o-layout-main-section-width 1fr 1fr;
		};
	}
}
